### Exploring the Enron dataset (emails + finances);



    - loads up the dataset (pickled dict of dicts).

    The dataset has the form:
    
        *  enron_data["LASTNAME FIRSTNAME MIDDLEINITIAL"] = { features_dict }

       *  {features_dict} is a dictionary of features associated with that person.
       
    You should explore features_dict as part of the mini-project, but here's an example to get you started:
    

    enron_data["SKILLING JEFFREY K"]["bonus"] = 5600000

---

In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
dir = "../final_project/final_project_dataset.pkl"

In [3]:
enron_data = pickle.load(open(dir, "rb"))

In [4]:
len(enron_data)

146

In [6]:
enrondf = pd.DataFrame(enron_data).T

In [7]:
enrondf.head()

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
METTS MARK,600000,NaN,NaN,NaN,mark.metts@enron.com,NaN,94299,29,38,1,...,NaN,1740,False,585062,NaN,365788,702,807,1061827,585062
BAXTER JOHN C,1200000,1295738,-1386055,NaN,NaN,6680544,11200,NaN,NaN,NaN,...,1586055,2660303,False,3942714,NaN,267102,NaN,NaN,5634343,10623258
ELLIOTT STEVEN,350000,NaN,-400729,NaN,steven.elliott@enron.com,4890344,78552,NaN,NaN,NaN,...,NaN,12961,False,1788391,NaN,170941,NaN,NaN,211725,6678735
CORDES WILLIAM R,NaN,NaN,NaN,NaN,bill.cordes@enron.com,651850,NaN,12,10,0,...,NaN,NaN,False,386335,NaN,NaN,58,764,NaN,1038185
HANNON KEVIN P,1500000,NaN,-3117011,NaN,kevin.hannon@enron.com,5538001,34039,32,32,21,...,1617011,11350,True,853064,NaN,243293,1035,1045,288682,6391065

In [9]:
len(enrondf.columns)

21